.dropbtn {
  background-color: #3ac7c9;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
   min-width: 150px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2fa7a8;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #dff7f7;
  min-width: 150px;
  overflow: auto;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 8px 8px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #d3ebeb;}

.show {display: block;}